body {
    background-image: url("images/default-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Winky Rough;
}

.sidebar{
    background: linear-gradient(to right, #8e9eab, #eef2f3);

    width: 100%;
    height: 10vh;
    border-radius:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    
}

.sidebar h1 {
    display: flex;
    margin-left: 20px;
    justify-content: left;
}
.sidebar h1 img {
    width: 50px;    
    margin-left: 20px;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.todolist{
    background-image: linear-gradient(to top, hsl(219, 34%, 56%, 0.8) 0%, hsl(218, 38%, 80%, 0.8) 100%);
    padding: 10px;
    margin-top: 20px;
    /* height: 30vh; */
    border-radius: 30px;
    overflow: hidden;

}
.todolist h2 {
    display: flex;
    justify-content: center;
}
.todolist h2 img {
    width: 30px;
    margin-left: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    align-items: center;
    background:hsl(219, 26%, 90%, 0.8);
    border-radius: 30px;
}
.pomodoro {
    background-image: linear-gradient(to top, hsl(219, 34%, 56%, 0.8) 0%, hsl(218, 38%, 80%, 0.8) 100%);
    margin-top: 20px;
    height: 60vh;
    text-align: center;
    border-radius: 20px;
}
.pomodoro h2 {
    display: flex;
    justify-content: center;
}
.pomodoro h2 img {
    width: 30px;
    margin-left: 15px;
}
#timer {
    font-size: 4rem;
    text-align: center;
}

input {
    flex: 1;
    outline: none;
    border: none;
    /* padding: 10px; */
    background:transparent;
}
#todoButton {
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#f88379;
    color: #fff;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
}
#todoButton:hover {
    background: #d73b3e;
}
ul li {
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before {
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    background-image: url("images/square.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("images/check.png");
}
ul li span {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #edeef0;
}

.pomoButtons {
    background:hsl(359, 66%, 65%);
    color: white;
    width: 30%;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px;
    border-radius:20px;
    border: none;
    outline: none;
    margin: 30px;
    align-items: center;
    
}
.pomoButtons:hover{
    background:hsl(359, 66%, 75%);

}
.pomoButtons:active {
    background:hsl(359, 66%, 85%);

}

.setButtons {
    background:hsl(359, 66%, 65%);
    padding: 20px;
    width: 20%;
    outline: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 20px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* align-items: center; */
}
.setButtons:hover{
    background:hsl(359, 66%, 75%);

}
.setButtons:active {
    background:hsl(359, 66%, 85%);


}
.lowerSection {
    display: flex;
    justify-content: space-between;
    opacity: 0.85;
    flex-wrap: wrap;
    /* margin-top: 30px; */

}
.bgmusic{
    /* width: 500px; */
    height: 60vh;
    background-image: linear-gradient(to top, hsl(219, 34%, 56%, 0.8) 0%, hsl(218, 38%, 80%, 0.8) 100%);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 0%;
}
.bgmusic h2 {
    display: flex;
    justify-content: center;
}
.bgmusic h2 img{
    width: 30px;
    margin-left: 15px;
}
.settings {
    /* width: 500px; */
    height: 50vh;
    background-image: linear-gradient(to top, hsl(219, 34%, 56%, 0.8) 0%, hsl(218, 38%, 80%, 0.8) 100%);
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px;
    padding-top: 0;
}
.settings h2 {
    display: flex;
    justify-content: center;
}
.settings h2 img {
    width: 30px;
    margin-left: 15px;
}
.themes {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.themes button{
    font-size: 1.2rem;
    color: black;
    font-family: Winky Rough;  
    cursor: pointer;
    background-image: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
    border-radius: 40px;
    text-decoration: none;
    width: 100%;
    border: none;
}
.themes button:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
}
.music {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;
}
.music button{
    font-size: 1.2rem;
    color: black;
    font-family: Winky Rough;  
    cursor: pointer;
    border: none;
    background-image: linear-gradient(220.55deg, #FFED46 0%, #FF7EC7 100%);
    border-radius: 40px;
    width: 100%;
    text-decoration: none;

}
.music button:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
}
footer {
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
}
footer {
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}
.foot {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
footer a {
    margin-left: 10px;
    color: red;
    text-decoration: none;
}
@media  (min-width:768px) {
    #container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        margin-bottom: 20px;
        row-gap: 20px;
        column-gap: 20px
    } 
    .todolist {
        max-width: 40vw;
        max-height: 60vh;
        padding: none;
        margin: none;

    }
    .pomodoro {
        max-width: 50vw;
        height: 60vh;
        padding: none;
        margin: none;
   }
    .bgmusic {
        max-width: 40vw;
        max-height: 60vh;
        margin: none;
        overflow: hidden;
    }
    .bgmusic iframe {
        width: 480px;
    }
    .settings {
        max-width: 50vw;
        height: 60vh;
        margin: 0;
        margin: none;
    }
    .themes button {
        width: 10vw;
    }
    .music button {
        width: 10vw;
    }
    footer {
        margin-top: 20px;
    }
}